<!DOCTYPE html>
<html>
<head>
  <title>Translator - Home page</title>
  <meta charset="uft-8">
  <link rel="stylesheet" href="css/style.css">
  <!-- <link rel="stylesheet" href="css/style.min.css"> -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
  <!--Favicons-->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
  <link rel="manifest" href="img/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <div class="wrapper">
    <section class="home">
      <div class="messageTo">
        <p class="messageText">Hello!</p>
      </div>
      <div class="messageFrom">
        <p class="messageText">Привет!</p>
      </div>
      <div class="logo">
        <svg class="sizeNormal colorNormal" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 142 142" style="enable-background:new 0 0 142 142;" xml:space="preserve">
          <g class="circle">
            <circle class="st0" cx="70.9" cy="70.9" r="70.9" />
            <path class="st1" d="M29.7,13.2C38.5,7,47,3.1,57.2,1.3c39-6.9,74.7,16.3,82.9,55.2c4.8,23-0.8,43.7-16,61.6
                  c-12.7,14.9-34.5,16.1-50,3.2C59.9,109.5,57.8,87,69.7,72.3c5-6.2,9.4-12.6,10.6-20.7c1.9-13.8-2.3-25.5-13.1-34.2
                  C56.8,9,46.7,6.6,34,11C33,11.4,32.1,11.8,29.7,13.2z" /> </g>
          <g id="A">
            <path class="st0" d="M93.4,93.5l-4.1,10.3H84l13.4-32.6h6.1l13.4,32.6h-5.4l-4.2-10.3H93.4z M106.3,90.2l-3.9-9.4 c-0.9-2.1-1.5-4.1-2-6h-0.1c-0.6,1.9-1.2,3.9-2,5.9l-3.9,9.4H106.3z" /> </g>
          <g id="SYMBOL">
            <path class="st1" d="M31.9,28.5c0,0,6.2-0.7,7.3,0.7c1.1,1.4-4.3,4-4.3,4s-6.6,4.2-2,0s0.2-3.4,0.2-3.4S30,30.3,31.9,28.5z" />
            <path class="st1" d="M24.8,42.4c0,0-2.6-0.7,0-1.7s7.2-3.1,7.2-3.1s3.1-1.7,3.5,0.8c0.4,2.4-0.4,5.5-0.4,5.5s-0.1,0.7,1.1-0.5
                     c1.1-1.1,3.3-3.6,3.3-3.6s1-0.5-0.9,2.5c-1.9,3-3.8,5.3-3.8,5.3l0.4,11.4c0,0,0.6,4.9-2.1,2.2c-2.7-2.7-0.5-10.8-0.5-10.8
                     s-5.4,5.4-7,3.2c-1.2-1.7,1.1-3.9,2.2-4.9c0.5-0.4,0.9-0.8,1.3-1.3c1-1.3,2.7-3.8,3.5-6.5c1.2-3.9-2.3-0.7-2.3-0.7
                     S26.8,43.6,24.8,42.4z" />
            <path class="st1" d="M47.1,37.4c0,0-2.6,0.1,0.5-1.4s3.8-1.6,4.9-1.8s4.1-0.5,2.7,2.1c-1.4,2.6-2.1,2.2-0.8,2.9
                     c1.3,0.7,0.4,1-1,1.9c-1.4,1-6.8,4.1-6.8,4.1s1.6-1.4,2.2-2.8c0.6-1.4-0.9,1.2-1.3-0.4c-0.4-1.6,4.5-5.2,2.6-4.9
                     S47.1,37.4,47.1,37.4z" />
            <path class="st1" d="M42.4,32.9c0,0-4.1-0.1,0-1.5c4.1-1.5,6.6-2.1,9.3-2.5c2.6-0.4,8,0.2,2.9,2s-9.6,2.5-9.1,7.2s2.3,10.8-0.9,7.5
                     c-3.2-3.3-0.9-9.4-0.9-9.4s2-3.3,1.3-3.3C44.2,32.9,42.9,32.9,42.4,32.9z" />
            <path class="st1" d="M58.3,45.7c-8.8-0.5-14.7,2.2-14.6,3c0.7,1.4,4.5,0.5,5.3,0.3c1.3-0.4,1.6,0.4,1.7,2.3
                     c-0.7,0.6-4.9,1.1-3.7,3.7c0.5,1.4,2.5,2.6,2.8,3.1c0.4,1-2,2.8-1.1,2.6c0.9-0.2,1.3-1.1,1.9-1.8c0.5-0.7,1.2,0.5,3.9,1.6
                     c4.3,1,7-3.7,7.6-5C62.6,54.2,64.7,46.2,58.3,45.7z M50.4,55.2c-0.6,1.8-2.1-0.3-2.1-0.3s-0.9-1.4,1.6-1.4
                     C49.9,53.5,51,53.4,50.4,55.2z M57.2,56.4c-1.4,0.6-3.6,0.7-4.7,0c0.4-1.1,0.7-2.2,0.9-3c2.8-0.8,3.7-0.7,3.7-1.6
                     c0,0-0.4-1.9-3.7-1.6c0-1.4-0.8-2.4-0.8-2.4c1.4-0.8,4.7-1,6,0.4C59.7,49.2,59.1,55.6,57.2,56.4z" />
            <path class="st1" d="M42.8,47.1c0,0,1.8,7.5,3.8,9.8c2,2.3,0.4,4.6-1.4,3S40.7,54,42.8,47.1z" /> </g>
        </svg>
      </div>
      <div class="content">
        <h1 class="home__name">Translator</h1>
        <p class="home__tagline">World without borders</p>
        <p class="home__description">Simple messaging application that breaks the language barrier</p>
        <a title="Create" href="/create">
          <button class="defaultBtn">Start</button>
        </a>
      </div>
    </section>
  </div>
  <footer>
    <div class="footer-menu">
      <ul>
        <li class="footer-menu__item">
          <a href="/feedback" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <p>Copyright © 2016 Translator demo version.</p>
    </div>
  </footer>
</body>
</html>
